@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

:root {
    --color1: #301C05;
    --color2: #F4D47E;
    --color3: #FEFFFF;
    --color4: #d4c3b4;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Acme', sans-serif;
    background-color: var(--color4);
    color: var(--color1);
    text-align: center;
}

.main-wrapper {
    max-width: 700px;
    padding: 0.4rem;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.7rem;
}

#part0 {
    padding: 1rem;
}

h2 {
    margin: 1rem auto;
}

label {
    display: block;
    margin: 1rem;
    
}

ul {
    text-align: left;
}
#part1 {
    margin: 0 auto;
    padding: 1rem;
}

#part1>label {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    text-align: left;
}

input {
    cursor: pointer;
    padding: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 8px;
}

#volUnits,
#concUnits {
    padding: 0.5rem;
    margin: 1rem 0 0.5rem 0;
    /* margin: 0 auto;  */
    border-radius: 8px;
    text-align: justify;
}


button {
    width: 100px;
    height: 50px;
    display: inline-block;
    padding: 0.7rem;
    margin: 1rem 2rem 0 0;
    border: none;
    background-color: var(--color1);
    color: var(--color4);
    font-weight: 800;
    cursor: pointer;
    border-radius: 8px;
}

#btn-calc-vol,
#btn-calc-conc {
    width: 200px;    
}

#btn-reset {
    background-color: var(--color2);
    border: 2px solid var(--color1);
    color: var(--color1);
}

#showOutput {
    font-size: 1.1rem;
    line-height: 2rem;
    margin-top: 2rem;
    line-height: 2rem;
}

#btn-back {
    background-color: var(--color3);
    border: 2px solid var(--color1);
    color: var(--color1);
}

#showError {    
    width: 200px;
    padding: 0.5rem;   
    text-align: center;
    font-size: 1.5rem;
}

section+div {
    padding:0 1rem; 
}

/*footer styles */

footer {
    /* border: 2px solid red; */
    text-align: center;
}

.two-columns {    
    text-align: left;    
}

.two-columns>p {     
    margin: 0;
    text-align: center;
    padding: 1rem 0;
    /* border: 1px solid green;  */
}

.two-columns>p>a:first-child {
    text-decoration: none;
    color: var(--color4);
    font-weight: bolder;
    font-size: 1rem;
}

.two-columns>p>a>img {
    width: 35px;
    height: 35px;
    margin: 0.4rem;
}

@media(min-width: 358px) {
    section {
        margin: 0 auto;
        /* border: 1px solid steelblue;  */
        text-align: center;
    }
    label {
        text-align: left;
        /* margin-left: 10rem; */
    }

    section+div {
        padding:0; 
    }
}



@media(min-width: 580px ) {
    footer {
        display: flex;
        /* margin-top: 1rem;  */
    }

    .two-columns {
        flex: 1; 
    }

    .two-columns:first-child {
        margin-top: 1rem; 
    }
    
    body {
        max-width: 590px; 
        margin: 0 auto;
        /* border: 1px solid red;  */

        
    }

}